doctype html
html
    head
        title Voxnest iTunes Podcast Scraper
        link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Material+Icons', rel='stylesheet')
        link(href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css', rel='stylesheet')
        link(href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js', type='text/javascript')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', type='text/javascript')
        block styles
        block scripts
    body.mdc-typography
        div#root
            .top-app-bar__frame
                header.mdc-top-app-bar
                    .mdc-top-app-bar__row
                        section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
                            span.mdc-top-app-bar__title iTunes Podcast Scraper
                        section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end(role='toolbar')
                            block tab
                .mdc-top-app-bar--fixed-adjust
                    block content 