extends layout.pug

block styles
    link(href='/style.css', type='text/css', rel='stylesheet')

block tab
    .mdc-tab-bar(role='tablist')
        .mdc-tab-scroller__scroll-area
                .mdc-tab-scroller__scroll-content
                    a.mdc-button.mdc-tab.mdc-tab--active(role='tab', arias-selected='true', tabindex=0, href='/stats')
                        span.mdc-tab-content
                            span.mdc-tab__text-label#tab Stats
                        span.mdc-tab-indicator.mdc-tab-indicator--active
                            span.mdc-tab-indicator__content.mdc-tab-indicator__content-underline
                        span.mdc-tab__ripple
                    a.mdc-button.mdc-tab.mdc-tab(role='tab', arias-selected='true', tabindex=-1, href='/top10')
                        span.mdc-tab-content
                            span.mdc-tab__text-label#tab Top 10
                        span.mdc-tab-indicator.mdc-tab-indicator--active
                            span.mdc-tab-indicator__content.mdc-tab-indicator__content-underline
                        span.mdc-tab__ripple
                    a.mdc-button.mdc-tab.mdc-tab(role='tab', aria-selected='true', tabindex=-1, href='/analyzer')
                        span.mdc-tab-content
                            span.mdc-tab__text-label#tab Analyzer
                        span.mdc-tab-indicator.mdc-tab-indicator--active
                            span.mdc-tab-indicator__content.mdc-tab-indicator__content-underline
                        span.mdc-tab__ripple

block content
    h1 ciao