body {
    margin: 0;
}

.mdc-top-app-bar__title {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.mdc-top-app-bar {
    background-color: #285D91;
}

#start {
    font-family: 'Poppins', 'Roboto', sans-serif;
    color: #ffffff;
    border-color: #ffffff;
}

#updates {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.mdc-list-item {
    font-family: 'Poppins', 'Roboto', sans-serif;
    flex-wrap: wrap;
}

.mdc-linear-progress__bar-inner {
    background-color: #285D91;
}

#tab {
    font-family: 'Poppins', 'Roboto', sans-serif;
    color: #ffffff;
}